doctype
html
  head
    meta(charset="UTF-8")
    title 空飛ぶエンタ
    meta(name="viewport", content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="apple-mobile-web-app-capable" content="yes")

  body
    canvas#World
    script(src="assets/script/tmlib.min.js")
    script(src="assets/script/app.js")
