doctype
html
  head
    meta(charset="UTF-8")
    title flying-enter
    meta(name="viewport", content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1")

  body
    canvas#World
    script(src="assets/script/tmlib.min.js")
    script(src="assets/script/app.js")
